        <dialog class="dialog-folder-delete in-dialog">
            <div class="dialog-container">
                <div class="dialog-header">
                    <p>Delete Folder</p>
                    <button class="close-delete-folder-dialog close-dialog-button">&#215;</button>
                </div>
                <form class="dialog-form">
                    <div>
                        <p class="confirm-folder-delete-text">Are you sure you want to delete the current folder and all of its contents? </p>
                    </div>
                    <div class="dialog-footer">
                        <button class="confirm-folder-delete-button" data-id="<%= %>">Confirm</button>
                    </div>
                </form>
            </div>
        </dialog>