        <dialog class="dialog-file-upload in-dialog">
            <div class="dialog-container">
                <div class="dialog-header">
                    <p>New File</p>
                    <button class="close-file-upload-dialog close-dialog-button">&#215;</button>
                </div>
                <form method="post" action="/upload"  enctype="multipart/form-data" class="dialog-form">
                    <div>
                        <label for="file-upload-input"></label>
                        <input id="file-upload-input" class="form-input" name="input-file" type="file">
                    </div>
                    <div class="dialog-footer">
                        <button>Upload</button>
                    </div>
                </form>
            </div>
        </dialog>