        <dialog class="dialog-folder-create in-dialog">
            <div class="dialog-container">
                <div class="dialog-header">
                    <p>New Folder</p>
                    <button class="close-folder-dialog close-dialog-button">&#215;</button>
                </div>
                <form method="post" action="/upload/create-folder" class="dialog-form">
                    <div>
                        <label for="new-folder-input">Name</label>
                        <input id="new-folder-input" class="form-input" name="new-folder-name" type="text">
                    </div>
                    <div class="dialog-footer">
                        <button>Create</button>
                    </div>
                </form>
            </div>
        </dialog>