<nav class="navbar">
    <div>
        <a class="navbar-header" href="/">File depot.</a>
    </div>
    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>