<nav class="navbar">
    <div>
        <a class="navbar-header" href="/home">File depot.</a>
    </div>
    <div>
        <% if(locals.currentUser){ %>
            <a href="/logout">Log out</a>

        <% }else{ %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
    </div>
</nav>