<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/error.css" rel="stylesheet" type="text/css">
    <title>500| Internal Error</title>
</head>
<body>
    <h1>Oh no!</h1>
    <h2>500 - Internal error</h2>
    <p>We're having trouble processing your request. Please try again shortly.</p>
    <a class="link-to-homepage" href="/">Go to homepage</a>
</body>
</html>
