<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <title>Index</title>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <main class="main-container">
        <h1>Home Page.</h1>
    </main>
    </body>
</html>