<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <title>Index</title>
</head>
<body>
    <h1>Home Page.</h1>
    <% if(locals.currentUser){ %>
        <br>
        <p>Logout <a href="/logout">Logout</a></p>
        <br>
    <% } %>
        <p>Login <a href="/login">Login</a></p>
        <br>
        <p>Register <a href="/Register">Register</a></p>
    </body>
</html>