<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./css/navbar.css" rel="stylesheet" type="text/css">
    <link href="./css/index.css" rel="stylesheet" type="text/css">
    <script src="./js/script.js" defer></script>
    <title>Home | File depot</title>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <main class="index__main-container">
        <aside>
            <button class="index__sidebar-button index__open-file-upload-dialog">New File</button>
        </aside>
        <section>
            <div>
            </div>
        </section>
        <dialog class="index__file-upload-dialog">
            <div class="index__file-upload-dialog-container">
                <div class="index__file-upload-dialog-header">
                    <p>New File</p>
                    <button class="index__close-file-upload-dialog">&#215;</button>
                </div>
                <form class="index__file-upload-dialog-form">
                    <div>
                        <label for="index__file-upload-input"></label>
                        <input class="index__file-upload-input" name="index__file-upload-input" type="file">
                    </div>
                    <div class="index__file-upload-submit">
                        <button>Upload</button>
                    </div>
                </form>
            </div>
        </dialog>
    </main>
    </body>
</html>