<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./css/navbar.css" rel="stylesheet" type="text/css">
    <link href="./css/index.css" rel="stylesheet" type="text/css">
    <script src="./js/script.js" defer></script>
    <title>Home | File depot</title>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <main class="index__main-container">
        <aside>
            <button class="index__sidebar-button open-file-upload-dialog">New File</button>
        </aside>
        <section>
            <div>
            </div>
        </section>
        <dialog class="dialog-file-upload in-dialog">
            <div class="dialog-container">
                <div class="dialog-header">
                    <p>New File</p>
                    <button class="close-file-upload-dialog close-dialog-button">&#215;</button>
                </div>
                <form method="post" action="/upload"  enctype="multipart/form-data" class="dialog-form">
                    <div>
                        <label for="file-upload-input"></label>
                        <input id="file-upload-input" class="form-input" name="input-file" type="file">
                    </div>
                    <div class="dialog-footer">
                        <button>Upload</button>
                    </div>
                </form>
            </div>
        </dialog>
    </main>
    </body>
</html>