<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <title>Login | File depot</title>
</head>

<body>
    <%- include("./partials/navbar.ejs")%>
        <main class="main-container">
            <section class="auth-section">
                <% if(locals.errors){ %>
                    <div class="error-container">
                        <% locals.errors.forEach((error,index) => {%>
                            <p class="input-warning"><%= index + 1%>. <%= error.msg %>.</p>
                        <% }) %>
                    </div>
                <% } %>
                <header>
                    <h2>Log in</h2>
                    <p>Don't have an account ? <a href="/register">Register</a></p>
                </header>
                <form method="post" action="/login">
                    <label for="username">Username </label>
                    <br>
                        <div>
                            <input class="username" name="username" type="text" minlength="1" maxlength="64" required>
                        </div>
                    <br>

                    <label for="password">Password </label>
                    <br>
                    <div>
                        <input class="password" name="password" type="password" minlength="1" maxlength="64" required>
                    </div>
                    <br><br>
                    <button class="but">Login</button>
                </form>
            </section>
        </main>
</body>

</html>