<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <title>Login | File depot</title>
</head>

<body>
    <%- include("./partials/navbar.ejs")%>
        <main class="main-container">
            <section class="auth-section">
                <div class="error-container">
                <% if(locals.errors && locals.errors.length > 0){ %>
                        <% locals.errors.forEach(error => {%>
                            <p class="input-warning"> - <%= error.msg %>.</p>
                        <% }) %>
                <% } %>

                <% if(locals.flash_error && locals.flash_error.length > 0){ %>
                    <% locals.flash_error.forEach(msg => { %>
                         <p class="input-warning"> - <%= msg %>.</p>
                    <% }) %>
                <% } %>
                </div>
                <header>
                    <h2>Log in</h2>
                    <p>Don't have an account ? <a href="/register">Register</a></p>
                </header>
                <form method="post" action="/login">
                    <label for="username">Username </label>
                    <br>
                        <input class="username" name="username" type="text" minlength="1" maxlength="64" required>
                    <br>

                    <label for="password">Password </label>
                    <br>
                    <input class="password" name="password" type="password" minlength="1" maxlength="64" required>
                    <br><br>
                    <button class="but">Login</button>
                </form>
            </section>
        </main>
</body>

</html>