<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <title>Register | File depot</title>
</head>

<body>
    <%- include("./partials/navbar.ejs")%>
        <main class="main-container">
            <section class="auth-section">
                <div class="error-container">
                <% if(locals.errors && locals.errors.length > 0){ %>
                        <% locals.errors.forEach(error => {%>
                            <p class="input-warning"> - <%= error.msg %>.</p>
                        <% }) %>
                <% } %>
                </div>
                <header>
                    <h2>Register </h2>
                    <p>Already have an account ? <a href="/login">Login</a></p>
                </header>
                <form method="post" action="/register">
                    <label for="username">Username: </label>
                    <input class="username" name="username" type="text" minlength="3" maxlength="64" required>
                    <br>
                    <label for="password">Password: </label>
                    <input class="password" name="password" type="password" minlength="3" maxlength="64" required>
                    <br>
                    <label for="confirm_password">Confirm password: </label>
                    <input class="confirm_password" name="confirm_password" type="password" minlength="3" maxlength="64"  required>
                    <br>
                    <label for="email">Email ( optional ): </label>
                    <input class="email" name="email" maxlength="254" type="text">
                    <br><br>
                    <button class="but">Register</button>
                </form>
            </section>

        </main>
</body>

</html>