.index__main-container {
	width: 100%;
	min-height: 80vh;
	display: flex;
}

.index__main-container > aside {
	padding: 20px;
	width: 13vw;
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid var(--color-gray);
}

.index__sidebar-button {
	font-size: 12px;
	border-radius: 3px;
	text-align: left;
	border: none;
	padding: 10px 10px;
	color: var(--font-color);
	background-color: var(--background-color);
	outline: 1px solid var(--color-gray);
	cursor: pointer;
}

.index__sidebar-button:hover {
	background-color: var(--color-hover-background);
	color: var(--color-hover);
	outline: 1px solid var(--color-hover);
}

.index__main-container > section {
	padding: 20px;
	width: 100%;
}

.index__main-container > section > div {
	outline: 1px solid var(--color-gray);
	height: 100%;
}

/* file upload dialog */
.dialog-file-upload {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 190px;
	border: none;
	padding: 0px;
	background-color: var(--background-color-dialog);
}

.dialog-file-upload::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.dialog-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	gap: 20px;
}

.dialog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dialog-header > p {
	font-size: 22px;
	color: var(--font-color);
}

/* close button */
.close-file-upload-dialog {
	background-color: transparent;
	font-size: 22px;
	border: none;
	padding: 0px 5px;
	color: var(--font-color);
	cursor: pointer;
}

.close-file-upload-dialog:hover {
	color: #27bafd;
}

.dialog-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

#file-upload-input {
	color: var(--font-color);
	width: 210px;
	cursor: pointer;
}

#file-upload-input::file-selector-button {
	border-radius: var(--border-radius-default);
	padding: 10px 10px;
	color: var(--font-color);
	background-color: var(--background-color);
	border: 1px solid var(--color-gray);
	margin-right: 10px;
}

#file-upload-input::file-selector-button:hover {
	background-color: var(--color-hover-background);
	color: var(--color-hover);
	border: 1px solid var(--color-hover);
}

.dialog-footer {
	display: flex;
	justify-content: right;
	align-items: center;
}

.dialog-footer > button {
	padding: 10px 15px;
	background-color: #27bafd;
	border: none;
	border-radius: var(--border-radius-default);
	cursor: pointer;
}
