.index__main-container {
	width: 100%;
	min-height: 80vh;
	display: flex;
}

.folder-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar-container{
	padding: 20px;
	max-width: 15vw;
	min-width: 250px;
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid var(--color-gray);
}

.sidebar-button {
	font-size: 14px;
	border-radius: 3px;
	font-family: inherit;
	text-align: left;
	border: none;
	padding: 10px 10px;
	color: var(--color-light-gray);
	background-color: var(--background-black);
	outline: 1px solid var(--color-gray);
	cursor: pointer;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sidebar-button:hover {
	background-color: var(--color-hover-background);
	color: var(--color-hover);
	outline: 1px solid var(--color-hover);
}

.sidebar-button > img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.folder-button {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	word-break: break-all;
	white-space: normal;
}

.sidebar-break {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	border-bottom: 1px dashed var(--font-color);
}

.selected-folder {
	background-color: var(--color-gray);
}

.filesview-container {
	padding: 20px;
	width: 100%;
}

.filesview-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
}

.filesview-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.filesview-row:nth-child(1) {
	margin-bottom: 10px;
}

.filesview-row > p {
	padding: 10px;
	color: var(--color-light-gray);
}

.filesview-header > p {
	color: var(--font-color);
}

.filesview-header > p:hover {
	border-radius: var(--border-radius-default);
	background-color: var(--color-gray);
}

/* for the heading */
.filesview-row > p:nth-child(1) {
	width: 60%;
}

.filesview-row > p:nth-child(2) {
	width: 20%;
}

.filesview-row > p:nth-child(3) {
	width: 20%;
}

.filesview-content {
	background-color: var(--background-black);
	border-radius: var(--border-radius-default);
	outline: 1px solid var(--color-gray);
	text-decoration: none;
	color: var(--font-color);
}

/* for image and  name*/
.filesview-content > div {
	width: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.filesview-content > div > img {
	width: 25px;
	height: 25px;
}

.filesview-content:hover {
	background-color: var(--color-hover-background);
	color: var(--color-hover);
	outline: 1px solid var(--color-hover);
}

/* classes for file path */

.file-path-indicator {
	margin-bottom: 20px;
}

.file-path-seprator {
	margin: 0px 5px;
	font-weight: 100;
}

.file-path-link {
	font-weight: 900;
	font-size: 14px;
	text-decoration: none;
	color: var(--color-hover);
}

.file-path-link:hover {
	text-decoration: underline;
}

.current-file-path {
	color: var(--color-light-gray);
}

.no-file-no-folder-para {
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
