.index__main-container{
	width: 100%;
	min-height: 80vh;
	display: flex;
}

.index__main-container > aside{
    padding: 20px;
    width: 13vw;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid var(--color-gray);
}


.index__sidebar-button{
	font-size: 13px;
	border-radius: 3px;
	text-align: left;
	border: none;
	padding: 10px 10px;
	color: var(--font-color);
	background-color: var(--background-color);
	outline: 1px solid var(--color-gray);
	cursor: pointer;
}

.index__sidebar-button:hover {
	background-color: var(--color-hover-background);
	color: var(--color-hover);
	outline: 1px solid var(--color-hover);
}

.index__main-container > section{
    padding: 20px;
    width: 100%;
}

.index__main-container > section > div{
    outline: 1px solid var(--color-gray);
    height: 100%;
}

.dialog-option{
	display: absolute;
	 top: 50%;
	 left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 400px;
  height: 300px;
transition: all 0.75s ease-in-out;
  &::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.index__dialog-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #242428;
}