:root {
	scroll-behavior: smooth;
	--background-color: #1c1b22;
	--font-color: white;
	--color-gray: #56565f;
	--color-hover-background: #133d57;
	--color-hover: #69d0ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: Arial, Helvetica, sans-serif, system-ui;
}

.main-container {
	width: 100%;
	min-height: 80vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-section {
	width: 400px;
}

@media screen and (max-width: 500px) {
	.main-container {
		padding: 10px;
	}
}
